.header {
  width: 100vw;
  height: 90px;
  background-color: #323232;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #FFFBE5;
}
.header h1 {
  font-family: 'Beth Ellen', cursive;
  font-size: 1.5em;
  margin-right:1000px;

}


h2 {
  font-family: 'Montserrat', sans-serif;
}


.logo{
  animation: shake 1.5s;
  animation-iteration-count: 4;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFBE5;
  flex-direction: column;
}

.navbar--hidden {
  top: -50px;
}


div.logo {
  /* To correctly align image, regardless of content height: */
  vertical-align: top;
  display: inline-block;
  align-items: center;
  justify-content: center;
  /* To horizontally center images and caption */
  text-align: center;
  /* The width of the container also implies margin around the images. */
  width: 800px;
  /* animation: fadeInAnimation ease 6s ;
  animation-iteration-count: 1; 
  animation-fill-mode: backwards;  */
}

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
   } 
} 

img {
  width: 800px;
  height: 800px;
 margin-right: 10%;

}
.caption {
  /* Make the caption a block so it occupies its own line. */
  display: block;
  font-family: 'Beth Ellen', cursive;
  font-size: 4em;
  line-height: 80px;
}

.title {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFBE5;
  flex-direction: column;
  margin-top: 60px;
}


.body {
  height: 80vh;
  display: grid;
  grid-template-columns: 70vw 30vw;
  grid-template-rows: 50% 50%;
  background-color: #FFFBE5;
  grid-gap: 0px;

}

.map {
  grid-area: 1 / 1 / 4 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  

}

.coords {
  float: right;
  margin-right: 20px; 
}

.top {
  grid-area: 1/3/3/4;
  height: 90%;
  background-color: #595858;
}

.top-header{
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  margin-bottom: -30px
}


.bottom {
  grid-area: 2/3/3/4;
  height: 90%;
  background-color: #fff;

}


.top h2{
  font-family: 'Montserrat', sans-serif;
  padding-left: 10px;
  color: #FFFBE5;
}

.top p{
  font-family: 'Montserrat', sans-serif;
  padding-left: 10px;
  color: #FFFBE5;
}

.room{
  padding-top: 10px;
}

.player {
  font-family: 'Montserrat', sans-serif;
  padding-left: 10px;
  color: #FFFBE5;
  list-style: none;
  width: 30em;

}
.player li{
  float: left;
    width: 10em;
}
.item {
  font-family: 'Montserrat', sans-serif;
  padding-left: 10px;
  color: #FFFBE5;
  list-style: none;
  width: 30em;

}
.item li{
  float: left;
    width: 10em;
}

.bottom h2{
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  color: #595858;
}

.footer {
  width: 100vw;
  height: 110px;
  background-color: #323232;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;

  /* position: fixed; */
  bottom: 0px;
}

.message {
  background-color: white;
  color: #323232;
  height: 100%;
  width: 50%;
  font-family: 'Beth Ellen', cursive;
  font-weight: lighter;
  font-size: 1.3em;
  padding: 10px;

}

.message  h2{

  padding-bottom: 30px;
}
.explore h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}
.controls  {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2em;
  display: flex;
  justify-content: space-around;
  width: 500px;
  align-items: center;

}
.button{
  padding-right: 15px;
  cursor: pointer;
}
i {
  padding-right: 15px;
  cursor: pointer;
}

.buttonDisabled {
  padding-right: 15px;
  opacity: 0.4;
  pointer-events: none;
}

.exits{
  display: flex;

}

.exit {
  flex: 15%;
  align-content: flex-start;

}

.top p {
  font-size: 1.2em;
  margin: 0px;
}


.room {
  font-size: 1.2em;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}





